body{
font-family: Arial;
background:#f4f4f4;
text-align:center;
}

h1{
color:#333;
}

.task-container{
margin:20px;
}

input{
padding:10px;
width:220px;
}

button{
padding:10px;
background:#007bff;
color:white;
border:none;
cursor:pointer;
}

ul{
list-style:none;
padding:0;
}

li{
background:white;
margin:10px auto;
padding:10px;
width:250px;
display:flex;
justify-content:space-between;
}
